.navbar-container{
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 620px; 
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0 0 3px;
}
.nav-btn{
  display: flex;
  flex-direction: column;  
  justify-content: space-evenly;
  align-items: center;
  width: 55%;
  height: 65px;
  color: rgba(250, 65, 126, 0.8);
  /*color: rgba(117, 119, 121, 0.8); */
  border: none;     
}
.nav-btn{
  background-color: whitesmoke;
  box-shadow: 
    12px 12px 16px -2px rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}
.icon-title{
  font-size: 20px;  
}